body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    margin:auto;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}


section{
    margin-top:20px;
    margin-bottom: 20px;
    min-height: 300px;
}

div{
    height: 600px;
    width:100%;
}

button{
    padding:12px;
    margin:12px;
    background-color:#525174;
    border-radius:6px;
    text-decoration: none;
    font-family: inherit;
    border: 0;
    font-size: 100%;


}

nav > ul{
    display: inline-block;
}
li{
    padding: 10px;
    display: inherit;
    
}
a {
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
}

li>a {
    padding:20px;
    margin: 10px;
    

}
a:hover{
    background-color: #348AA7;
    transition: .4s;
    color: white;
}


.img {
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.info{
    /* height:200px; */
    margin: auto;
}

#welcome-img{
    background-image: url(./shoes.jpg);
}

#img-1{
    background-image: url(./shoe1.jpg);
}

#img-2{
    background-image: url(./shoe2.jpeg);
}

#img-3{
    background-image: url(./shoe3.jpeg);
    background-size: 60%;
}

#contact{
    background-color: #5DD39E;
    color:white;
    top:50%;
}