* {
    margin:0;
}

header{
    font-size: 1.5em;
    background: rgba(107, 57, 15, 0.39);
    height: 100px;
    
}

nav {
   
    
    position: fixed;
    width:100%;
   
}

.site-title{
    text-align: center;
}

.nav-link{
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 20px;
    margin: 20px;
    color:black;
    /* position: inherit; */
    display: inline-block;

}

.main{
    height: 70vh;
    margin: 40px auto;
    width: 80%;

}

h3{
    font-size: 2em;
}
p{
    font-size: 2em;
}